.left {
  width: 300px;
}

.right {
  right: 0;
  width: 700px;
}

.rekap-table{
  width: 1100px;
}

.dummy{
  border-top:none !important;
  color: rgba(0,0,0,0);
}

.rekap-name-table{
  margin-top: 20px;
  width: 500px;
}

.done{
  background-color: #00bbe8;
}

.doing{
  background-color: #b8b8b8;
}